@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tai+Le&display=swap');

.nav {
    /*position: sticky;  
    top: 0;
    left: 0;
    height: 25px;*/

    background-color: black;
    padding: 2.25rem;
    text-align: center;
    width: 100%;
    margin: -10px;
}

.nav a {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding: 40px;
}

body {
    background-color: #d7d1da;
    color: black;
    font-family: Noto Sans Tai Le;
    font-size: 14px;
    font-weight: bold;
}


section {
    padding: 1rem;
    margin: 5px;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-size: 45px;
    font-weight: bolder;
    color: black;
}

li {
    display: block;
    width: 25%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: white;
    text-align: center;
}

label {
    font-size: 20px;
    color: black;
}

input, textarea {
    font-size: 15px;
    padding: 0.5rem;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

button, .top {
    background-color: lavender;
    padding: 0.5rem;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px; 
    color: black;
    font-family: Noto Sans Tai Le;
    font-weight: bolder;
}

#messages button {
    background-color: black;
    color: white;
}

button:hover {
    background-color: lightseagreen;
}    

#messages button:hover {
    background-color: lightseagreen;
}

footer {
    /*position: fixed;
    bottom: 0;
    height: 80px;
    display: block;*/

    background-color: black;
    color: white; 
    font-family: 'Caveat', cursive;
    font-size: 25px;
    padding: 0.5rem;
    width: 100%;
    margin: -10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: lightseagreen;
}


/* Use Flexbox */
#certifications ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
 }

 #form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
 }

 /* Use Media Queries */
@media (max-width: 600px) {
    .nav a {
        font-size: 12px;
        padding: 3px;
    }
    h1, h2 {
        font-size: 30px;
    }
    body {
        font-size: 10px;
    }
    footer {
        font-size: 12px;
    }
}

/* Back to top button
.top {  
    --offset: 50px;  
    position: sticky;
    bottom: 20px;
    float: right;
    right: 10px; 
    margin-top: calc(100vh + var(--offset));
    z-index: 1;
  } */